{{#link-to 'post' post.id}}

<div class="well main-box pull-left">
<div class="left-image">

</div>
<div id="right-post-detail">
  <span class="pull-left"><img src={{post.image}}/></span>
  <span class="post-title">{{post.question}}</span><br>
  <span class="">{{post.note}}</span><br><br><br><br>
  <span class="">By {{post.author}}</span>
</div>
</div>
{{/link-to}}
