
*{
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4{
  font-family: 'Bowlby One SC', cursive;
}

li {
  list-style-type: none;
}
left-image, img {
  height: 250px;
  margin-right: 20px;
  margin-bottom: 15px;
}

#new-post-form{
  background-color: #d2d2d2;
  padding: 20px;
  width: 300px;
}
#new-response-form{
  background-color: #d2d2d2;
  padding: 20px;
  width: 300px;
  margin-right: 400px;
}
#bg {
  background-image: url('/assets/images/bg.png');
  height: 400px;
  background-size: 1200px 569px;
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 0px 0px 10px 10px;
  position:relative;
}
/*http://orig06.deviantart.net/0b70/f/2014/134/3/5/the_avengers_by_flowmediaproductions-d7ibyms.png*/

.title-text {
  position: absolute;
    bottom: 0;
    left: 20px;
    color: #222;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.detail-height {
  min-height: 290px;
}

.main-box {
  width: 550px;
  margin-right: 20px;
}

#comment-bottom {
  clear:both;
}

.nav {
  border-bottom: 3px solid #2d7fdb;
}

footer {
  text-align: center;
  color: #2d7fdb;
  font-size: 1em;
  padding: 5px;
  clear:both;
  border-top: 3px solid #2d7fdb;
}


.button-up {
  margin-top: -117px;
}

.button-answer {
  margin-left: 500px;
  margin-top: -54px;
  float: left;
}


a:link {
  list-style-type: none;
  text-decoration: none;
    color: #222;
}

a:active {
  list-style-type: none;
  text-decoration: none;
  color: #000;
}

a:visited {
  list-style-type: none;
  text-decoration: none;
  color: #222;
}

a:hover {
  list-style-type: none;
  text-decoration: none;
  color: #666;
}
