<div class="container">
  <div id="bg">
    <div class="title-text">
      <h1>Superhero Trivia Board</h1>
    </div>
  </div>
  <div class="nav">
    {{#link-to 'index'}}<h2>Home</h2>{{/link-to}}
  </div><br>
  {{outlet}}
  <footer>© 2017 Joshua Rinard</footer>
</div>
