<div class="container">
  <div id="bg">
  </div>
    <h1>Superhero Trivia Board</h1>
  <div class="nav"><hr>
    {{#link-to 'index'}}Home{{/link-to}}
   </div><hr>
  {{outlet}}
  <hr>
  <footer>© 2017</footer>
</div>
