<div class="pull-right button-up">
{{new-post savePost2="savePost3"}} <br>
</div>

<h2>Home</h2>


{{#each model.posts as |post|}}
{{post-tile post=post}}
{{/each}}


<div id="comment-bottom">
  <h3>Answers</h3>

  {{#each model.responses as |response|}}
    <li>{{response.answer}} - by {{response.author}}</li>
  {{/each}}

</div>
