<div class="">
{{update-post post=model update="update"}}<br>
</div>

<h2>{{model.question}}</h2>


{{post-detail post=model destroyPost="destroyPost" destroyResponse="destroyResponse"}}


<div class="pull-right">
{{new-response saveResponse="saveResponse" post=model}}
</div>
